//*Variables*//

//!color:
$primary-color: lighten(rgb(0,0,0), 10%);
$secondary-color: rgb(255,99,71);
$bg-color: rgb(230,230,250);


//*Functions*//

//! mixin
@mixin flex($justify) {
    display: flex;
    align-items: center;
    justify-content: $justify;
}