@import "config";

//* General Styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: $bg-color;
  font-family: $primary-font-family;
  font-size: 40px;
  height: 100vh;
  @include flex(center);
}

.clock {
  position: relative;
  @include flex(center);
  background-color: white;
  height: clamp(500px, 50vw, 1000px);
  width: clamp(500px, 50vw, 1000px);
  border-radius: 50%;
  box-shadow: rgba(50, 50, 93, 0.25) 20px 20px 70px -10px inset,
    rgba(0, 0, 0, 0.3) 10px 10px 25px;
  border: 15px solid $primary-color;

  .clock-center {
    position: absolute;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: $primary-color;
    z-index: 4;
  }
  .numbers {
    position: absolute;
    color: $primary-color;
    font-weight: bold;
    text-align: center;
    inset: 20px;
    font-family: $primary-font;
  }
  .number1 {
    transform: rotate(30deg);
    span {
      display: block;
      transform: rotate(-30deg);
    }
  }
  .number2 {
    transform: rotate(60deg);
    span {
      display: block;
      transform: rotate(-60deg);
    }
  }
  .number3 {
    transform: rotate(90deg);
    span {
      display: block;
      transform: rotate(-90deg);
    }
  }
  .number4 {
    transform: rotate(120deg);
    span {
      display: block;
      transform: rotate(-120deg);
    }
  }
  .number5 {
    transform: rotate(150deg);
    span {
      display: block;
      transform: rotate(-150deg);
    }
  }
  .number6 {
    transform: rotate(180deg);
    span {
      display: block;
      transform: rotate(-180deg);
    }
  }

  .number7 {
    transform: rotate(210deg);
    span {
      display: block;
      transform: rotate(-210deg);
    }
  }
  .number8 {
    transform: rotate(240deg);
    span {
      display: block;
      transform: rotate(-240deg);
    }
  }
  .number9 {
    transform: rotate(270deg);
    span {
      display: block;
      transform: rotate(-270deg);
    }
  }
  .number10 {
    transform: rotate(300deg);
    span {
      display: block;
      transform: rotate(-300deg);
    }
  }
  .number11 {
    transform: rotate(330deg);
    span {
      display: block;
      transform: rotate(-330deg);
    }
  }
  .number12 {
    transform: rotate(0deg);
    span {
      display: block;
      transform: rotate(0deg);
    }
  }

  .hour {
    --rotate: 0;
    position: absolute;
    width: 3%;
    height: 25%;
    border-radius: 10px 10px 0px 0px;
    background-color: ($primary-color);
    left: 50%;
    bottom: 50%;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    z-index: 1;
  }
  .minute {
    position: absolute;
    width: 2%;
    height: 35%;
    border-radius: 10px 10px 0px 0px;
    background-color: lighten($primary-color, 40%);
    left: 50%;
    bottom: 50%;
    --rotate: 0;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    z-index: 2;
}
.second {
    position: absolute;
    width: 1%;
    height: 40%;
    border-radius: 10px 10px 0px 0px;
    background-color: $secondary-color;
    left: 50%;
    bottom: 50%;
    --rotate: 0;
    transform: translate(-50%) rotate(calc(var(--rotate) * 1deg));
    transform-origin: bottom;
    z-index: 3;
  }
}
