@import "config";

.clock {
    @include flex(center);
    background-color: white;
    height: 600px;
    width: 600px;
    border-radius: 50%;
    // box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    // box-shadow: rgba(0, 0, 0, 0.19) 0px 10px 20px, rgba(0, 0, 0, 0.23) 0px 6px 6px;
    // box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px, rgba(0, 0, 0, 0.3) 0px 30px 60px -30px, rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
     box-shadow: rgba(50, 50, 93, 0.25) 20px 20px 70px -10px inset, rgba(0, 0, 0, 0.3) 10px 10px 25px;
     border: 10px solid $primary-color;

    .numbers {
        color: $primary-color;

    }
}